[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dotenv = "*"
arrow = "*"
bootstrap-flask = "*"
redis = {extras = ["hiredis"], version = "*"}
flask-redis = "*"
flask-mail = "*"
markdown = "*"
altcha = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-migrate = "*"
sqlalchemy-utils = "*"
tabulate = "*"
pyotp = "*"
wtforms = "*"
flask-wtf = "*"
pytz = "*"
qrcode = "*"

[dev-packages]

[requires]
python_version = "3.13"
