# {{ subject }}

A user is attempting to reset the password for the account {{ user.username }} on {{ config.get('SITE_NAME') }}.

If this is an intentional change, [click here]({{ confirm_url }}) to confirm the change and set a new password for your account.

If this was not you, you may [click here]({{ deny_url }}), or do nothing - unless you confirm the change with the link above, your password will not be changed.

The links above expire at {{ expires |dt }}.
