{% extends "fullscreen.html.j2" %}

{% block title %}Mailing List Preferences{% endblock %}

{% macro render_genblock(b_text, b_action, b_level, title, text) %}
    <div class="action">
        <h2>{{ title }}</h2>
        <p>{{ text }}</p>
        <form method="POST">
            <button
                type="submit"
                name="action"
                value="{{ b_action }}"
                class="btn btn-block btn-{{ b_level }}"
            >{{ b_text }}</button>
        </form>
    </div>
{% endmacro %}

{% macro render_sub() %}{{ render_genblock('Subscribe', 'subscribe', 'success', "Subscribe", "Subscribe to our mailing list for updates") }}{% endmacro %}
{% macro render_unsub() %}{{ render_genblock('Unsubscribe', 'unsubscribe', 'danger', "Unsubscribe", "Unsubscribe from our mailing list to avoid getting future emails") }}{% endmacro %}

{% block w_content %}
    {% if default_action is defined and default_action == 'unsubscribe' %}
        {{ render_unsub() }}
        {{ render_sub() }}
    {% else %}
        {{ render_sub() }}
        {{ render_unsub() }}
    {% endif %}
{% endblock %}