{% extends "base/fullscreen.html.j2" %}

{% block title %}Error {{ code }} - {{ name }}{% endblock %}

{% block w_content %}
    <p>{{ description }}</p>
    <p style="text-align: center">
        <a class="btn btn-xs btn-primary" href="/">Back to Home</a>
    </p>
{% endblock %}
