{% extends "fullscreen.html.j2" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Edit User: {{ user.username }}{% endblock %}

{% block w_content %}
    {{ wtf.render_form(form) }}
{% endblock %}