<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            {% block metas %}
                {% for data in (publish_event('base.template.meta_tags', []) or []) %}
                    {{ data }}
                {% endfor %}
            {% endblock %}

            {% block styles %}
                <!-- Bootstrap CSS -->
                {{ bootstrap.load_css() }}
                {% for stylesheet in (publish_event('base.template.stylesheets', []) or []) %}
                    {% if stylesheet.startswith('<') %}
                        {{ stylesheet }}
                    {% else %}
                        <link rel="stylesheet" href="{{ stylesheet }}" />
                    {% endif %}
                {% endfor %}
            {% endblock %}

            <title>
                {%- block title -%}
                    {%- if html_title is defined -%}
                        {{- html_title -}}
                    {%- elif title is defined -%}
                        {{- title -}}
                    {%- endif -%}
                {%- endblock -%}
            </title>
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" {% block body_attribs %}{% endblock %}>
        <!-- Your page content -->
        {% block content %}
            {% block above_content %}{% endblock %}
            {{ bootstrap.render_messages() }}
            {% block main_content %}{% endblock %}
            {% block below_content %}{% endblock %}
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            {% for script in (publish_event('base.template.scripts', []) or []) %}
                {% if script.startswith('<') %}
                    {{ script }}
                {% else %}
                    <script src="{{ script }}"></script>
                {% endif %}
            {% endfor %}
        {% endblock %}
    </body>
</html>