{% extends 'base.html.j2' %}
{% import "bootstrap/utils.html" as utils %}

{% block styles %}
    <style>
        .fullscreen .fs-centered {
            width: 600px;
            max-width: 100vw;
            float: none;
            margin: 10vh auto;
        }
        .fullscreen h1 {
            text-align: center;
            font-size: 3rem;
        }
        .fullscreen .container {
            margin: 0;
            width: 100%;
        }
        .fullscreen .container >.row, .fullscreen .container >.row >* {
            margin: 0;
    </style>
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row fullscreen">
            <div class="col-12 fs-centered">
                {% block fs_content %}
                    {% if self.title() %}<h1>{% block title %}{% endblock %}</h1>{% endif %}
                    {{ bootstrap.render_messages() }}
                    <div class="panel panel-sm">
                        {% block w_content %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}