# {{ subject }}

{% if new_email -%}
A user is attempting to change the email address for the account {{ user.username }} on {{ config.get('SITE_NAME') }} from {{ old_email }} to {{ new_email }}.

If this is an intentional change, [click here]({{ confirm_url }}) to confirm the change and update the email address associated with your account.

If this was not you, you may [click here]({{ deny_url }}), or do nothing - unless you confirm the change with the link above, your email address will not be changed.
{%- else -%}
A user has registered on {{ config.get('SITE_NAME') }} with the email address {{ old_email }}.

If this was you, [click here]({{ confirm_url }}) to confirm the email address associated with your account.

If this was not you, no action is required.
{%- endif %}

The link(s) above expire at {{ expires |dt }}.
